@model Throb.Data.Entities.Student

@{
    ViewData["Title"] = "Create New Student";
}

<h1>Create New Student</h1>
<br />
<br />
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- اختيار الكورس -->
    <div class="form-group">
        <label class="col-form-label">Select Courses</label>
        <select asp-for="Courses" class="form-control" asp-items="ViewBag.Courses" multiple="multiple" name="selectedCourses"></select>
        <span asp-validation-for="Courses" class="text-danger"></span>
    </div>

    @Html.ValidationSummary(true, "StudentErrors", "Error while Adding Student")

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
